@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.color_8F0019 {
  color: #8F0019; }

.main_plan_contenr_contents_h2 {
  line-height: 1.75;
  font-weight: normal; }
  @media screen and (min-width: 1025px) {
    .main_plan_contenr_contents_h2 {
      font-size: 20px; } }
  @media print, screen and (max-width: 1024px) {
    .main_plan_contenr_contents_h2 {
      font-size: 1.95313vw; } }
  @media screen and (max-width: 768px) {
    .main_plan_contenr_contents_h2 {
      font-size: 4.8vw; } }

.plan_main_loop_sec {
  justify-content: flex-start; }
  @media screen and (max-width: 768px) {
    .plan_main_loop_sec {
      width: 93.33%;
      margin: 0 auto; } }
  .plan_main_loop_sec li {
    width: 31.77%;
    margin: 0% 2.08% 5.72% 0%; }
    .plan_main_loop_sec li:nth-child(3n) {
      margin: 0% 0% 5.72% 0%; }
    @media screen and (max-width: 768px) {
      .plan_main_loop_sec li {
        padding: 6.93% 0% 0% 0%;
        width: 100%; }
        .plan_main_loop_sec li:nth-child(3n) {
          margin: 6.93% 0% 0% 0%; } }
  .plan_main_loop_sec a {
    display: block;
    text-decoration: none; }
  .plan_main_loop_sec .button_plan_main_loop_sec {
    width: 62.5%;
    margin-top: 9.89%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.08% 0% 2.08% 0%;
    text-align: center;
    color: #FFF;
    transition-duration: 0.5s;
    cursor: pointer;
    /*        @include rs_font_size(12px,1.171875vw,3.6826666666666665vw);
        //フォント（px）【PC】:12pxpx |【Tab】12px |【sp】 13.81px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px*/
    border: 2px solid #805A63;
    transition-duration: 0.25s;
    background: #805A63;
    color: #FFF;
    z-index: 2;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    display: block; }
    @media screen and (min-width: 1025px) {
      .plan_main_loop_sec .button_plan_main_loop_sec {
        font-size: 23px; } }
    @media print, screen and (max-width: 1024px) {
      .plan_main_loop_sec .button_plan_main_loop_sec {
        font-size: 2.24609vw; } }
    @media screen and (max-width: 768px) {
      .plan_main_loop_sec .button_plan_main_loop_sec {
        font-size: 5.06667vw; } }
    .plan_main_loop_sec .button_plan_main_loop_sec:after {
      content: '';
      display: block;
      z-index: -2;
      transition-duration: 0.5s;
      position: absolute;
      left: 0%;
      top: 0;
      width: 150%;
      height: 150%;
      background: #805A63; }
    .plan_main_loop_sec .button_plan_main_loop_sec:before {
      content: '';
      display: block;
      z-index: -1;
      transition-duration: 0.5s;
      position: absolute;
      left: -5%;
      top: 0;
      width: 0%;
      height: 100%;
      background: #FFF; }
    .plan_main_loop_sec .button_plan_main_loop_sec:hover {
      overflow: hidden;
      background: none;
      color: #805A63;
      border: 2px solid #805A63; }
      .plan_main_loop_sec .button_plan_main_loop_sec:hover:before {
        height: 100%;
        width: 110%; }
    @media screen and (max-width: 768px) {
      .plan_main_loop_sec .button_plan_main_loop_sec {
        width: 100%;
        padding: 1.33% 0% 1.33% 0%; } }
