html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.bx-wrapper img {
  max-width: 100%;
  display: block; }

.bxslider {
  margin: 0;
  padding: 0; }

ul.bxslider {
  list-style: none; }

.bx-viewport {
  /* fix other elements on the page moving (in Chrome) */
  -webkit-transform: translateZ(0); }

/** THEME
===================================*/
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: 3%;
  width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000; }

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  vertical-align: bottom;
  *zoom: 1;
  *display: inline; }

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("img/controls.png") no-repeat 0 -32px; }

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0; }

.bx-wrapper .bx-next {
  right: 10px;
  background: url("img/controls.png") no-repeat -43px -32px; }

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 99; }

.bx-wrapper .bx-controls-direction a.disabled {
  display: none; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("img/controls.png") -86px -11px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("img/controls.png") -86px -44px no-repeat;
  margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%; }

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px; }

.color_BE0D23 {
  color: #BE0D23; }

.index_main_slider_contents {
  position: relative;
  z-index: 2; }

@media screen and (max-width: 768px) {
  .sp_top_pref {
    position: relative;
    left: 0;
    top: 0%;
    right: 0;
    margin: 0 auto; } }

.bg_index_main_slider_after_contents {
  background: url(img/index/bg_index_main_slider_after_contents_pc.png) no-repeat center center;
  background-size: cover;
  padding: 40px 0 40px 0;
  position: relative;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    .bg_index_main_slider_after_contents {
      background: url(img/index/bg_index_main_slider_after_contents_sp.png) no-repeat center center;
      background-size: 100% 100%;
      position: relative;
      margin: 0% 0% 0% 0%;
      padding: 2.66% 0% 9.33% 0%; } }

.bg_index_main_slider_after_contents_02 {
  background: #000;
  background-size: cover;
  padding: 40px 0 40px 0;
  position: relative;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    .bg_index_main_slider_after_contents_02 {
      background: #000;
      background-size: 100% 100%;
      position: relative;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-left: auto;
      margin-right: auto;
      padding: 8% 0% 5.33% 0%; } }

.index_main_slider_after_contents_main_catch {
  position: relative;
  width: 100%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .index_main_slider_after_contents_main_catch {
      width: 100%;
      /*@include ontener_width(375 , 322.8076);*/ } }

@media screen and (max-width: 768px) {
  .index_main_slider_after_contents_main_catch_02 {
    /*@include ontener_width(375 , 293.5859);*/ } }

@media screen and (max-width: 768px) {
  .index_main_slider_after_contents_ul {
    width: 94.66%;
    margin: 0 auto; } }

.index_main_slider_after_contents_ul img {
  width: 100%; }

.index_main_slider_after_contents_h2 {
  color: #1F2C5C;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b19d55+0,fffbc7+51,b9a765+100 */
  background: #b19d55;
  /* Old browsers */
  background: -moz-linear-gradient(top, #b19d55 0%, #fffbc7 51%, #b9a765 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #b19d55 0%, #fffbc7 51%, #b9a765 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #b19d55 0%, #fffbc7 51%, #b9a765 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b19d55', endColorstr='#b9a765',GradientType=0 );
  /* IE6-9 */
  letter-spacing: 5px;
  text-align: center; }
  @media screen and (min-width: 1025px) {
    .index_main_slider_after_contents_h2 {
      font-size: 31.84px; } }
  @media print, screen and (max-width: 1024px) {
    .index_main_slider_after_contents_h2 {
      font-size: 3.10938vw; } }
  @media screen and (max-width: 768px) {
    .index_main_slider_after_contents_h2 {
      font-size: 8.49067vw; } }
  @media screen and (max-width: 768px) {
    .index_main_slider_after_contents_h2 {
      width: 94.66%; } }

.main_index_figure_box {
  width: 83.33%;
  display: block;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .main_index_figure_box {
      width: 94.66%; } }

.main_index_link_nav_ul {
  width: 83.33%;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .main_index_link_nav_ul {
      width: 94.66%;
      margin-top: 2.66%;
      margin-bottom: 0%;
      margin-left: auto;
      margin-right: auto; } }
  .main_index_link_nav_ul li {
    width: 48.75%; }
    @media screen and (max-width: 768px) {
      .main_index_link_nav_ul li {
        width: 100%;
        margin-top: 0%;
        margin-bottom: 2.66%;
        margin-left: auto;
        margin-right: auto; } }
