@charset "utf-8";
@import '../../sass_base/mixin';
@import '../../sass_base/animate';
@import '../../sass_base/icon_arrow';

.under_page_contents_access {
    background: url(../img/access/access_top_pc.jpg) no-repeat center center;
    background-size: cover;
    @include media($sp) {
        background: url(../img/access/access_top_sp.jpg) no-repeat center center;
        background-size: cover; 
    }
    .text_box{
        width: 100%;
/*        @include ontener_width(1920 , 778 );
        @include marginPercent(1920 , 0 , auto , 0 , auto );*/
        @include media($sp) {
/*            @include ontener_width(375 ,335 );
            @include marginPercent(375 , 0 , auto , 0 , auto );*/
        }
    }
    h1 {
/*        display: flex;
        justify-content: center;
        align-items: center;*/
        @include paddingPercent(1920 , 0 , 0 , 10 , 0);
        background: url(../img/access/under_page_contents_access_h1.png) center no-repeat;
        background-size: contain;
        color: #fff;
        @include rs_font_size(30px,2.9296875vw,4vw);
        //フォント（px）【PC】:30pxpx |【Tab】30px |【sp】 15px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    }
    p {
/*        display: flex;
        justify-content: center;
        align-items: center;*/
        @include paddingPercent(1920 , 10 , 0 , 10 , 0);
        @include marginPercent(1920 , 10 , auto , 0 , auto );
        background: url(../img/access/under_page_contents_access_p.png) center no-repeat;
        background-size: contain;
        color: #fff;
        @include rs_font_size(20px,1.953125vw,3.7333333333333334vw);
        //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 14px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
        @include media($sp) {
            background: url(../img/access/under_page_contents_access_p_sp.png) center no-repeat;
            background-size: cover;
            @include media($sp) {
                @include paddingPercent(375 , 5 , 0 ,5 , 0);
            }
        }
    }
}
.back_FCF9E8 {
    background: #FCF9E8;
}


.access_main_h1 {
    @include paddingPercent(960 , 0 , 0 , 5 , 0);
}
.access_main_h1 {
    font-variant: 400;
    line-height: 1.55555555556;
    letter-spacing: 0.12em;
    @include rs_font_size(52px,5.078125vw,6.933333333333334vw);
    //フォント（px）【PC】:52pxpx |【Tab】52px |【sp】 26px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    color:#001b44;
    border-bottom: 1px solid #001b44;
    @include media($sp) {
        letter-spacing:0;
    }
}
.access_main_sub_p{
    @include marginPercent(960 , 30 , auto , 0 , auto );
}
.access_main_sub_p{
    color:#001b44;
    @include rs_font_size(35px,3.41796875vw,6.666666666666667vw);
    //フォント（px）【PC】:35pxpx |【Tab】35px |【sp】 25px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    letter-spacing: 0.12em;
    font-weight: bold;
}
.access_main_p {
    @include marginPercent(960 , 75 , 0 , 0 , 0);
    letter-spacing: 0.2em;
    line-height: 1.75;
    @include rs_font_size(20px,1.953125vw,4vw);
    //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 15px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    @include media($sp) {
        @include ontener_width(375 , 360 );
        @include marginPercent(375 , 25 , auto , 0 , auto );
        letter-spacing: -0.1em;
    }
}
.access_main_road_map_figure {
    @include marginPercent(960 , 70 , 0 , 0 , 0);
    @include media($sp) {
        width: 100%;
        @include marginPercent(375 , 35 , auto , 0 , auto );
    }
}
.access_main_road_detail {
    @include marginPercent(960 , 80 , 0 , 0 , 0);
    .access_main_road_detail_figcaption {
        line-height: 1.5;
        @include marginPercent(960 , 10 , 0 , 0 , 0 );
        text-align: right;
        @include rs_font_size(12px,1.171875vw,3.2vw);
        //フォント（px）【PC】:12pxpx |【Tab】12px |【sp】 12px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
        @include media($sp) {
            text-align: left;
            @include marginPercent(375 , 5 , auto , 0 , auto );
            @include ontener_width(375 , 350 );
        }
    }
}

.access_smooth {
    /*@include paddingPercent(1920 , 90 , 0 , 90 , 0 );*/
    background-color: #f0e6dd;

}
.title_access_smooth_h1 {
    font-variant: 300;
    line-height: 1.55555555556;
    letter-spacing: 0.4em;
    @include rs_font_size(30px,2.9296875vw,4.8vw);
    //フォント（px）【PC】:30pxpx |【Tab】30px |【sp】 18px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
}
.pref_title_access_smooth_top {
    @include marginPercent(960 , 50 , 0 , 0 , 0);
    letter-spacing: 0.2em;
    line-height: 1.75;
    @include rs_font_size(18px,1.7578125vw,4vw);
    //フォント（px）【PC】:18pxpx |【Tab】18px |【sp】 15px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
}
.access_smooth_top_figure {
    /*@include marginPercent(960 , 50 , 0 , 0 , 0 );*/ 
    @include media($sp) {
        @include marginPercent(375 , 0 , auto , 0 , auto );
        @include ontener_width(375 , 353.359 );
    }
}


.access_tukin_rakuraku {
    .title_access_smooth_h1 {
        letter-spacing: 0;
    }
}

.access_tukin_rakurakufigure {
    @include marginPercent(960 , 65 , 0 , 0 , 0 );
    @include media($sp) {
        @include marginPercent(375 , 36 , auto , 0 , auto );
        @include ontener_width(375 , 353.359 );
    }
}
.bus_access {
    @include media($sp) {
        @include marginPercent(375 , 60 , auto , 0 , auto );
    }
    .bus_access_ruby {
        @include ontener_width(960 , 219.599);
        @include marginPercent(960 , 0 , auto , 0 , auto );
        @include media($sp) {
            @include ontener_width(375 , 152.487 );
        }
    }
    .title_access_smooth_h1 {
        @include marginPercent(960 , 100 , auto , 0 , auto );
        @include rs_font_size(42.14px,4.115234375vw,4.8vw);
        //フォント（px）【PC】:42.14pxpx |【Tab】42.14px |【sp】 18px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
        letter-spacing: 0.4em;
    }
    .pref_title_access_smooth_top {
    @include rs_font_size(18px,1.953125vw,3.4vw);
    //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 15px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    }
}

.bus_access_bottoms_figure {
    @include marginPercent(960 , 70 , 0 , 0 , 0 );
}

.car_access {
    height: 2468.752px;
    background: url(../img/access/car_access_sp.png) no-repeat top center;
    background-size: auto 100%;
    @include media($sp) {
        @include marginPercent(375 , 60 , auto , 0 , auto  );
        height: 712.3298666666667vw;
        background: url(../img/access/car_access_pc.png) no-repeat top center;
        background-size: auto 100%;
    }
}
.pref_title_access_smooth_top_sub_pref {
    color: #595757;
    @include rs_font_size(12px,1.171875vw,3.2vw);
    //フォント（px）【PC】:12pxpx |【Tab】12px |【sp】 12px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    @include marginPercent(960 , 25 , 0 , 0 , 0 );
}