@charset "utf-8";
@import '../../sass_base/mixin';
@import '../../sass_base/animate';
@import '../../sass_base/icon_arrow';

.under_page_contents_design {
    background: url(../img/design/design_top_pc.jpg) no-repeat center center;
    background-size: cover;
    @include media($sp) {
        background: url(../img/design/design_top_sp.jpg) no-repeat center center;
        background-size: cover; 
    }
    h1 {
        color: #231815;
        @include rs_font_size(30px,2.9296875vw,4vw);
        //フォント（px）【PC】:30pxpx |【Tab】30px |【sp】 15px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    }
    p {
        color: #231815;
        @include rs_font_size(20px,1.953125vw,3.7333333333333334vw);
        //フォント（px）【PC】:20pxpx |【Tab】20px |【sp】 14px
        //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
    }
}
.top_page_design {
    background: url(../img/design/top_page_design_pc.jpg) no-repeat top center;
    background-size: cover;
    height: 1554px;
    @include media($tab) {
        background-size: auto 90%;
        height: 1399px;
    }
    @include media($sp) {
        height: 373.86vw;
        background: url(../img/design/top_page_design_sp.jpg) no-repeat center center;
        background-size: cover; 
    }  
}

.design_landp_plan{
    background-color: #f0efee;
}

.design_landp_plan_figure{
    @include ontener_width(1960 , 960 );
    @include marginPercent(960 , 0 , auto , 0 , auto );
    @include media($sp) {
        @include ontener_width(375, 365 );
        @include marginPercent(375 , 0 , auto , 0 , auto );
        @include paddingPercent(375 , 15 , 0 , 5 , 0);
    }
}

.design_innner_corridor {
    @include marginPercent(960 , 50 , auto , 0 , auto );
    @include media($sp) {
    }
}

.design_innner_corridor_wap {
    @include media($sp) {
        @include ontener_width(375 , 350 );
        @include marginPercent(375 , 10 , auto , 0 , auto );
    }
}
.design_innner_corridor_wap {
    @include rs_font_size(13px,1.26953125vw,2.933333333333333vw);
    //フォント（px）【PC】:13pxpx |【Tab】13px |【sp】 11px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px
}

.top_page_design_contentnts {
    @include media($sp) {
        @include marginPercent(375 , 20 , auto , 20 , auto );
    }
}


.design_bottom_sec {
    @include media($sp) {
        @include marginPercent(375 , 160 , auto , 0 , auto );
        @include paddingPercent(375 , 60 , 10 , 80 , 10 );
    }
    
    
}