@charset "utf-8";
@import '../../sass_base/mixin';
@import '../../sass_base/animate';
@import '../../sass_base/icon_arrow';

.under_page_contents_equipment {
    height: 160px;
    background: url(../img/equipment/bg_equipment_pc.jpg) no-repeat center center;
    background-size: auto 100%;
    @include media($sp) {
        height: 24vw;
        background: url(../img/equipment/bg_equipment_sp.jpg) no-repeat center center;
        background-size: auto 100%;
    }
}
.equipment_main_01 {
    height: 1169.5447px;
    background: url(../img/equipment/cont_01_pc.jpg) no-repeat center center;
    background-size: auto 100%;
    @include media($sp) {
        height: 279.10930666666667vw;
        background: url(../img/equipment/cont_01_sp.jpg) no-repeat center center;
        background-size: auto 100%;
    }
}
.back_F0E6DD {
    background: #F0E6DD;
}
.equipment_main_nav_ul {
    li {
        @include ontener_width(960 , 236.25 );
        @include marginPercent(960 , 1 , 0 , 1 , 0 );
    }
}