@charset "utf-8";
@import '../../sass_base/mixin';
@import '../../sass_base/animate';
@import '../../sass_base/icon_arrow';

.under_page_contents_equipment {
    background: url(../img/equipment/under_page_contents_equipment_pc.jpg) no-repeat top center;
    background-size: cover;
    @include media($sp) {
        background: url(../img/equipment/under_page_contents_equipment_sp.jpg) no-repeat top center;
        background-size: cover;
        height: 50vw;
        align-items: flex-start;
        @include paddingPercent(375 , 20 , 0 , 0 , 0 );
    }
    .main_plan_contenr_contents_p {
        @include marginPercent(1920 , 35 , 0 , 0 , 0 );
    }
}
.color_231815 {
    color: #231815;
}
.equipment_main {
    @include media($sp) {
        @include ontener_width(375 , 355);
    }
    
    @include marginPercent(960 , 30 , auto , 5 , auto );
}
.equipment_main_nav_ul {
    .equipment_main_nav_li {
        @include ontener_width(960 , 188 );
        @include marginPercent(960 , 0 , 0 , 5 , 0 );
        img {
            display: block;
        }
    }
}
.equipment_main_article {
    @include marginPercent(960 , 30 , auto , 80 , auto );
    @include media($sp) {
        @include marginPercent(375 , 30 , auto , 80 , auto );
    }
}