@charset "utf-8";
@import '../../sass_base/mixin';
@import '../../sass_base/animate';
@import '../../sass_base/icon_arrow';

.under_page_contents_modelroom {
    background: url(../img/modelroom/under_page_contents_modelroom.jpg) no-repeat top center;
    background-size: cover;
}
.modelroom_main_slider,.bx-wrapper,.bx-viewport {
    height: 601px !important;
    @include media($sp) {
        height: 96vw !important;
    }
    li {
        height: 601px !important;
        @include media($sp) {
            height: 96vw !important;
        }
    }
    .modelroom_main_slider_01 {
        background: url(../img/modelroom/Pc_01.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_01.jpg); background-size:cover;
        }
    }
    .modelroom_main_slider_02 {
        background: url(../img/modelroom/Pc_02.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_02.jpg); background-size:cover;
        } 
    }
    .modelroom_main_slider_03 {
        background: url(../img/modelroom/Pc_03.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_03.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_04 {
        background: url(../img/modelroom/Pc_04.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_04.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_05 {
        background: url(../img/modelroom/Pc_05.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_05.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_06 {
        background: url(../img/modelroom/Pc_06.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_06.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_07 {
        background: url(../img/modelroom/Pc_07.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_07.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_08 {
        background: url(../img/modelroom/Pc_08.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_08.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_09 {
        background: url(../img/modelroom/Pc_09.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_09.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_10 {
        background: url(../img/modelroom/Pc_10.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_10.jpg); background-size:cover;
        }  
    }
    .modelroom_main_slider_11 {
        background: url(../img/modelroom/Pc_10.jpg); background-size:auto 100%;
        @include media($sp) {
            background: url(../img/modelroom/sp_10.jpg); background-size:cover;
        }  
    }
}
.modelroom_main {
    background: #231815;
    background:url(../img/modelroom/modelroom_main_thumbs_bottom_pref_bg.jpg)top center no-repeat;
    background-size:auto 100%;
    @include media($sp) {
        background:url(../img/modelroom/modelroom_main_thumbs_bottom_pref_bg_sp.jpg)bottom left no-repeat;
        background-size:contain;
    }
}
.modelroom_main_thumbs_contents {
    @include media($sp) {
        @include ontener_width(375 , 375);
        @include marginPercent(375 , 30 , auto , 0 , auto );
        justify-content: center !important;
    }
}
.modelroom_main_thumbs_contents {
    @include media($sp){
        justify-content: center;
    }
}
.modelroom_main_thumbs_contents_link {
    @include ontener_width(960 , 224.9709 );
    position: relative;
    overflow: hidden;
    @include media($sp) {
        @include marginPercent(375 , 5 , 5 , 5 , 5 );
        @include ontener_width(355 ,160);
    }
    &:nth-child(n+5) {
        @include marginPercent(960 , 10 , 0 , 0 , 0);
        @include ontener_width(960 , 121.7699  );
        @include media($sp) {
            @include marginPercent(375 , 5 , 5 , 5 , 5 );
            width: 21.3%;
        }
    }
    img{
        display: block;
        transition-duration: 0.5s;
    }
    &:before {
        content: '';
        display: block;
        transition-duration: 0.5s;
        left: -100%; top: 0;
        width: 100%;
        z-index: 999;
        height: 100%;
        background: rgba(255,2555,255,0.6);
        position: absolute;
        
    }
    &.active {
        img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
        &:before {
            left: 0;
        }
    }
    &:hover {
        img {
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }   
    }
}

.modelroom_main_thumbs_bottom_pref {
    @include marginPercent(960 , 30 , 0 , 0 , 0 );
    color: #FFF;
    line-height: 1.75;
    @include rs_font_size(12px,1.171875vw,3.2vw);
    //フォント（px）【PC】:12pxpx |【Tab】12px |【sp】 12px
    //設定サイズ（px）【PC】:1024px |【Tab】1024px |【sp】 375px

    @include media($sp) {
        @include paddingPercent(375 , 0 , 0 , 10, 0 );
    }
}